# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

.conf.dev

# Ignore log files
*.log

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore coverage directory
coverage/

# Ignore local configuration files
*.local

# Ignore any .DS_Store files (macOS)
.DS_Store

# Ignore any Thumbs.db files (Windows)
Thumbs.db

# Ignore any temporary files
*.tmp
*.temp

# Ignore any lock files
package-lock.json
yarn.lock

# Ignore IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

.npmrc
